@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body {
    font-family: 'Raleway';
    background: linear-gradient(to right, rgb(33, 14, 157), rgb(153, 13, 185));
}
h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 100pt;
    padding: 20px;
    width: 50%;
    margin-left: 25%;
}
.markup-1 {
    padding: 25px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
.head-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}
.nav-head-top {
    padding: 15px;
    font-size: 15pt;
    border: none;
    color: rgba(255, 255, 255, 0.7);
}
.nav-head-top:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}